<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>downloadWebContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75E8A33D1C5961C100B939EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E8A3511C5961C100B939EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E8A35C1C5961C100B939EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
